body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
div {
	box-sizing: border-box;
}
header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-top: 28px;
	padding-bottom: 40px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	float: left;
}
.menu_orig {
	float: right;
}
.menu_orig ul {
	padding: 0;
	margin: 0;
}
.menu_orig li {
	display: inline-block;
	margin-left: 50px;
}
a { 
	color: #f3f5fd;
	text-decoration: none;
}
.menu_orig a, .button_block a, .btn a, .footer_block_more a, .footer_block_form a {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.menu_btn {
	padding: 6px 38px;
	border: 1px solid #f9fafe;
	border-radius: 5px;
}




.nav{
	display: none;
}
.nav input {display: none;}
.nav label {cursor: pointer;}

.nav {user-select: none;}

.nav__showmenu {
    position: fixed;
    z-index: 3;
    display: inline-block;
    margin-left: -10px;
    padding: 5px 10px 10px;
    top: 25px;
    right: 0;
    font-size: 23px;
}

.nav__back {
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}

.menu, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 220px;
    margin: 0;
    padding: 17px 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #2c2c2c;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}

.menu__submenu {
    font-size: .8em;
    background-color: #ddd;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.menu__showsub {
    position: absolute;
    right: 0;
    margin-top: -34px;
    padding: 10px;
    line-height: normal;
}

.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.menu__submenu .menu__item {color: #000;}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#fff;}
.menu__check:checked~.menu__submenu {max-height: 100vh;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(0);}







.titles, .boats_title {
	text-align: center;
	color: #f9fafe;
	text-transform: uppercase;
	font-size: 24px;
}
.titles {
	margin-top: 185px;
}
h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 55px;
	line-height: 0px;
}
.form {
	width: 520px;
	margin: 60px auto;
}
.form_order {
	position: relative;
}
.destination {
	width: 65%;
	border-radius: 6px 0 0 6px;
	height: 40px;
	padding-left: 28px;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
}
.btn {
	width: 29%;
	background: #e7434e;
	border: none;
	border-radius: 0 6px 6px 0;
	height: 42px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-left: 28px;
	color: #fce9ea;
	text-transform: uppercase;
	position: absolute;
}
.boat_icon {
	float: right;
	position: relative;
	bottom: 30px;
	right: 112px;
}
.number_cont {
	position: relative;
	top: 95px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 900px;
	height: 110px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 10px gray;
}
.number {
	float: left;
	width: 25%;
	text-align: center;
	margin-top: 5px;
}
.number span {
	display: block;
	font-size: 28px;
	color: #262626;
	font-weight: bold;
}
.number p {
	font-size: 16px;
	font-weight: regular;
	color: #8a8a8a;
}
div.number:after {
	float: right;
	content: '';
	width: 1px;
	height: 70px;
	background: #d7d7d7;
	position: relative;
	top: -80px;
}
div.number:last-child:after {
	display: none;
}
.container_mini {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
#destinations {
	margin-top: 145px;
}
.titles_mini h3 {
	font-family: 'Raleway', sans-serif;
	color: #343435;
	font-size: 24px;
	line-height: 0.6;
}
.titles_mini p {
	color: #717171;
}
.travel_images {
	margin-top: 50px;
}
.travel_images_item, .boat_images_item {
	position: relative;
	padding: 0 20px;
	margin: 10px 0;
	border-radius: 5px;
	height: 285px;	
	padding-top: 20px;
}
.travel_images_item {
	width: 285px;
}
.travel_images_item_bg1 {
	background: url(../img/travel1.png);
	background-position: center center;
    background-size: cover;
	height: 285px;
	width: 590px;
	float: left;
}
.travel_images_item_bg2 {
	background: url(../img/travel2.png);
	background-position: center center;
    background-size: cover;
    float: right;
}
.travel_images_item_bg3 {
	background: url(../img/travel3.png);
	background-position: center center;
    background-size: cover;
    float: left;
}.travel_images_item_bg4 {
	background: url(../img/travel4.png);
	background-position: center center;
    background-size: cover;
    float: left;
    margin-left: 20px;
}.travel_images_item_bg5 {
	background: url(../img/travel5.png);
	background-position: center center;
    background-size: cover;
    float: right;
}
.travel_images_item_icon {
	height: 30px;
	background: #e7434e;
	border-radius: 5px;
	padding-top: 6px;
	text-align: center;
}
.travel_images_item_icon {
	width: 70px;
}
.travel_images_item_icon p {
	font-weight: bold;
	padding: 0;
	margin: 0 0 0 3px;
	position: relative;
	bottom: 1px;
}
.travel_images_item_icon * {
	display: inline-block;
}
.travel_images_title {
	position: absolute;
	bottom: 20px;
}
.travel_images_title h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	margin: 0;
	padding: 0;
}
.travel_images_title p, .travel_images_title h4 {
	margin: 0;
	padding: 0;
	text-align: left;
}
.travel_images_item .travel_images_title h4 {
	line-height: 30px;
}
.button_block {
	margin: 70px 0;
	text-align: center;
}
.button {
	color: #343434;
	padding: 17px 45px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #dcdcdc;
}
#boats {
	background: url(../img/bg2.jpg) no-repeat center top / cover;
	padding: 120px 0 120px;
}
.boats_btn {
	position: relative;
	width: 250px;
	border-radius: 5px;
	text-align: center;
	margin: 55px auto 0;
}
.boats_btn a {
	position: relative;
	top: 15px;
	padding-right: 28px;
}
#add_your_boat {
	padding-top: 50px;
}
.boat_images_item {
	width: 440px;
}
.boat_images_item_bg1 {
	background: url(../img/boat1.png);
	background-position: center center;
    background-size: cover;
    float: left;
}
.boat_images_item_bg2 {
	background: url(../img/boat2.png);
	background-position: center center;
    background-size: cover;
    float: right;
}
.boat_images_item_bg3 {
	background: url(../img/boat3.png);
	background-position: center center;
    background-size: cover;
    float: left;
}
.boat_images_item_bg4 {
	background: url(../img/boat4.png);
	background-position: center center;
    background-size: cover;
    float: right;
}
.boat_images_item_icon {
	width: 85px;
}
.boat_images_item .travel_images_item_icon p {
	font-size: 12px;
	position: relative;
	bottom: 3px;
}
.boat_images_item .travel_images_title h4{
	line-height: 40px;
}
.boat_images_item .travel_images_title p::before {
	content: '\00A0\00A0\00A0\00A0';
	background: url(../img/geo-icon.png) no-repeat right center;
}
.boat_images_item .travel_images_title span::before {
	margin-left: 18px;
	content: '\00A0\00A0\00A0\00A0\00A0';
	background: url(../img/people-icon.png) no-repeat right center;
}
.line {
	background: url(../img/line.jpg) no-repeat center top /cover;
	height: 6px;
}
footer {
	position: absolute;
	width: 100%;
	background: #404040;
	padding: 40px 0;
	margin: 0;

}
.footer_block1 {
	float: left;
	width: 22%;
}
.footer_block2 {
	float: left;
	width: 20%;
}
.footer_block3 {
	float: left;
	width: 42%;
	text-align: left;
}
.footer_block3 .form {
	width: 300px;
	padding: 0;
	margin: 10px 0 0;
}
.footer_block3 .form .destination {
	width: 60%;
	height: 32px;
	font-size: 12px;
	padding-left: 22px;
}
.footer_block3 .form .btn {
	width: 34%;
	padding: 0;
	height: 34px;
}
.footer_block4 {
	float: left;
	width: 16%;
}
.footer_block_more {
	text-align: left;
}
.footer_block_more_title {
	font-family: 'Raleway', sans-serif !important;
	font-weight: bold !important;
	font-size: 14px !important;
	color: #fff !important;
	text-transform: uppercase !important;
	line-height: 37px !important;
}
.footer_block_more a {
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
	font-size: 12px;
	display: block;
	font-weight: 500;
	line-height: 28px;
}
.messenge_icon {
	margin-top: 28px;
}
.messenge_icon a:nth-child(2) {
	margin: 0 15px;
}
@media only screen and (max-width:1230px)
{
	.container{
		width: 900px;
	}
}
@media only screen and (max-width:940px)
{
	.container, .container_mini {
		width: 740px;
	}
	.number_cont {
		width: 720px;
		height: 110px;
	}
	.titles_mini p {
		max-width: 650px;
		margin: 0 auto;
	}
	.travel_images_item_bg1 {
		max-width: 100% !important;
	}
	.travel_images_item {
		max-width: 50%;
		float: none;
		display: inline-block;
		margin: 10px 10px;
	}
	.boat_images_item {
		width: 360px;
		height: 233px;
	}
}
@media only screen and (max-width:767px)
{
	h1, h2 {
		font-size: 36px;
	}
	.title p {
		font-size: 16px;
	}
	.container, .container_mini {
		width: 455px;
	}
	.menu_orig ul li {
	display: none;
	}
	.menu_orig li {
		
	}
	.nav {
		display: block;
	}
	.form {
	width: 400px;
	}
	.form .destination {
		width: 60%;
		height: 32px;
		font-size: 12px;
		padding-left: 22px;
	}
	.form .btn {
		width: 34%;
		padding: 0;
		height: 34px;
	}
	.boat_icon {
		bottom: 26px;
	}
	.number_cont {
		width: 400px;
	}
	.travel_images_item_bg1 {
		width: 414px !important;

	}
	.travel_images_item  {
		width: 200px;
		height: 200px;
	}
	.boat_images_item {
		float: none;
		margin: 20px auto;
	}
	.boat_images_item_bg3 {
		margin-top: 0;
	}
	.footer_block3 {
		float: none;
		width: 100%;
		max-width: 300px;
		margin: 0 auto 10px;
	}
	.footer_block1 {
		display: none;
	}
	.footer_block2 {
		display: none;
	}
	.footer_block4 {
		display: none;
	}
}
@media only screen and (max-width:480px) {
	h1, h2 {
		font-size: 24px;
	}
	.container, .container_mini {
		width: 295px;
	}
	.form {
		width: 250px;
	}
	.destination {
		font-size: 7px !important;
	}
	.form .destination {
		padding-left: 5px;
	}
	.boat_icon {
		display: none;
	}
	.number_cont {
		width: 300px;
	}
	.number span {
		font-size: 20px;
	}
	.number p {
		font-size: 12px;
	}
	.titles {
		margin-top: 100px;
	}
	.form {
		margin-bottom: 0px;
	}
	.number_cont {
		height: 80px;
		top: 80px;
	}
	div.number::after {
		height: 50px;
		top: -60px;
	}
	.titles_mini h3 {
		line-height: 35px;
	}
	#destinations {
    margin-top: 90px;
    }
    .travel_images_item {
    max-width: 100%;
    }
    .boat_images_item {
    	float: none;
    	max-width: 100%;
    }
    .titles, .boats_title {
    	font-size: 16px;
    }
}