doctype html
html(lang="ru")
  head
    title Сameras
    link(rel='stylesheet' href='css/bootstrap-grid.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    
    link(rel='stylesheet' href='css/fonts.css')
    link(rel='stylesheet' href='css/main.css')
  body
    include ../modules/header
    block goods
    include ../modules/footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/script.js')