@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova_Semibold/subset-ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova_Light/subset-ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova_Regular/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
