section#goods
  .container-basis
    .container-fluid
      .row
        .col-xl-9
          .product-wrapper
          //Карточки товаров
        .col-xl-3
          .navigation
            button.btn.btn--width.btn--show-hover#btnShow
              p.btn__text-white Показать результат
            button.btn.btn--width.btn--margin-10pt.btn--clean-bg.btn--clean-hover
              p.btn__text-gray Очистить фильтр
            .navigation__block
              p.navigation__title Производитель
              ul.navigation__filter.navigation__filter--cameras
                li.navigation__filter-item
                  input(id='Canon' type='checkbox' class='checkbox' value='Canon')
                  label(class='label' for='Canon') Canon
                li.navigation__filter-item
                  input(id='Olympus' type='checkbox' class='checkbox' value='Olympus')
                  label(class='label' for='Olympus') Olympus
                li.navigation__filter-item
                  input(id='Fujifilm' type='checkbox' class='checkbox' value='Fujifilm')
                  label(class='label' for='Fujifilm') Fujifilm
                li.navigation__filter-item
                  input(id='Pentax' type='checkbox' class='checkbox' value='Pentax')
                  label(class='label' for='Pentax') Pentax
                li.navigation__filter-item
                  input(id='Nikon' type='checkbox' class='checkbox' value='Nikon')
                  label(class='label' for='Nikon') Nikon
                li.navigation__filter-item
                  input(id='Sigma' type='checkbox' class='checkbox' value='Sigma')
                  label(class='label' for='Sigma') Sigma
                li.navigation__filter-item
                  input(id='Panasonic' type='checkbox' class='checkbox' value='Panasonic')
                  label(class='label' for='Panasonic') Panasonic
                li.navigation__filter-item
                  input(id='Geleral' type='checkbox' class='checkbox' value='GeleralElectrics')
                  label(class='label' for='Geleral') Geleral Electrics
                li.navigation__filter-item
                  input(id='Leica' type='checkbox' class='checkbox' value='Leica')
                  label(class='label' for='Leica') Leica
                li.navigation__filter-item
                  input(id='Zenit' type='checkbox' class='checkbox' value='Zenit')
                  label(class='label' for='Zenit') Zenit

script(type='text/x-handlebars-template')#div-template
  | {{#each data.products}}
  .product
    .product__article
      p.article Арт. {{code}}
    a(href='{{link}}' title='Подробнее о {{title}}').product__photo-wrapper
      img(src='images/{{imgUrl}}' alt='{{title}}').product__photo
    .product__status.status(class='{{#unless availability}}status--red{{/unless}}')
      i.status__icon.fa.fa-check
      p.status__text {{#if availability}}В наличии{{else}}Нет в наличии{{/if}}
    .product__description
      a(href='{{link}}' title='Подробнее о {{title}}').product__description-title {{title}}
      ul.product__description-subtitle
        | {{#each  params}} 
        li.product__description-subtitle-item {{name}}
          span  {{value}}
        | {{/each}}
    .product__footer
      button.btn.btn--buy-hover.
        <img src="images/icons/cart.png" class="btn__icon">
        <p class="btn__text-white btn__text-white--normal">Купить</p>
      ul.assessment
        li.assessment__like
          a(class='favorites' data-id='{{id}}')
            i.far.fa-heart
        li.assessment__compare
          i.fas.fa-balance-scale
  | {{/each}}