//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/autogeneration/autogeneration.pug
include ../blocks/basket/basket.pug
include ../blocks/search/search.pug
